/* Jeff Fung | Yebinabox */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/* Global */

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background: #eee;
}

i:hover{
  color: 	#00FFFF;
}

.n-l:hover{
  text-decoration: underline;
}

.pages{
  padding: 1rem 5rem;
  max-width: 100%;
  min-height: 900px;
  min-width: 200px;
}

h1{
  font-weight: 800;
  font-size:calc(2rem + 1vw);
  text-transform: uppercase;
  margin: 0;
}

h2{
  color: #000;
}

h4{
  color: #888;
}

img{
  display: block;
  width: 100%;
  min-width: 100px;
}

main{
  padding: 0 2rem 0 12rem;
  max-width: 1500px;
  margin: 0 auto;
}

.header{
  text-align: left;
  width: 100%;
}

.caption{
  padding: 0.8rem;
  text-align: left;
}

i{
  color: #495057;
}

/* Nav Menu */

.main-nav{
  display: flex;
  position: fixed;
  width: 150px;
  margin-left: 1rem;
  overflow: hidden;
  height: 100vh;
  max-heigh: 100vh;
  align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#nav{
  width: 9rem;
  padding: 1rem 1rem 1rem 0;
  border-right: double;
}

ul li{
  padding: 5px 0;
}

ul li a{
  color: #000;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
}

.active{
  color: #f38a8a;
  font-size: 1.5rem;
}

.slide-nav{
    display: none;
    padding: 0.25rem 1rem;
}

.nav{
  font-weight: 800;
}

.nav2{
    display: none;
    float: none;
    text-align: right;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#drop-icon{
  font-size:calc(2rem + 2vw);
  cursor: pointer;
  text-shadow: 0px 0px 5px #FFFFFF;
}

#drop-icon2{
  font-size:calc(2rem + 2vw);
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1000px) {
  .main-nav{
    display: none;
    width: 0;
    margin-left: 0;
    overflow: hidden;
  }
  main{
    min-width: 0px;
    padding: 0.25rem;
    margin: auto;
  }
  .header{
    padding: 0;
    text-align: left;
  }

  .caption{
    padding: 0;
    text-align: left;
  }

  .slide-nav {
    position: fixed;
    right: 0;
    top: 0;
    float: none;
    display: block;
    text-align: right;
    transition: all 0.5s;
  }

  .nav2{
    padding-right: 0.5rem;
    font-weight: 800;
    color: #fff;
    transition: all 0.5s;
  }

  ul li a{
    color: #000;
    font-weight: 400;
    font-size: 7vw;
    text-transform: uppercase;
    margin: 0;
  }

  .active{
    color: #f38a8a;
    font-size: 7vw;
  }

  .pages{
    padding: 1rem 1rem;
  }

}

/* Home Section */

#home{
  min-height: 100vh;
}

#homepage{
  display: grid;
  height: 100vh;
}

#logo{
  max-width: 500px;
  min-width: 150px;
  align-self: center;
  justify-self: center;
}

#home-text{
  text-align: center;
  font-size:calc(1rem + 1vw);
}

/* About Section */

#about{
  padding-bottom: 5rem;
}

.a-box{
  display: grid;
  min-height: 800px;
  align-items: center;
  grid-template-areas: "a b";
  grid-template-columns: 50% 50%;
}

#a-picture{
  display: grid;
  height: 400px;
  grid-area: a;
  align-items: center;
}

#a-picture-inner{
  padding: 0 2rem 0 2rem;
  width: 100%;
}

#myself{
  max-height: 492.5px;
  max-width: 492.5px;
  float:right;
}

#a-text{
  display: grid;
  height: 400px;
  grid-area: b;
  align-items: center;
}

#a-text-inner{
  padding: 1rem;
}

.a-t-c{
  padding: 1rem 0 0 0;
}

@media (max-width: 700px) {

  .a-box{
    grid-template-areas:
    "a" "b";
    grid-template-columns: 100%;
  }

  #a-text{
    display: grid;
    height: 400px;
    grid-area: b;
    align-items: start;
  }
}

/* Projects Section */

#Projects{
  padding-bottom: 5rem;
}

.p-box{
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding-top: 10px;
}

.p-sections{
  display: grid;
  grid-row-gap: 0.5rem;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-template-areas: "a b" "a c" "d d";
  grid-template-columns: 50% 50%;
  margin-bottom: 2rem;
}

h2{
  grid-area b;
  align-self: end;
}

.p-links{
  color: #888;
  text-decoration: underline;
}

.p-links:hover{
  color: 	#00FFFF;
}

.accordion {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #000;
  font-weight: bold;
  background-color: #eee;
  border: 2px #ccc solid;
  border-radius: 50px;
  display:inline-block;
  text-align: center;
  align-self: start;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  grid-area: c;
}

.accordion.active{
  background-color: #ccc;
}

.p-imgs{
  grid-area: a;
}

.prj, .accordion:hover {
  background-color: #ccc;
}

.panel {
  display: none;
  overflow: hidden;
  grid-area: d;
}

.panel.show{
  display: grid;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  grid-template-areas: "a b" "c d";
  grid-template-columns: 50% 50%;
  align-items: center;
}

.link-text{
  padding-top: 8px;
}

.d-1{
  grid-area: a;
}

.d-2{
  grid-area: b;
}

.d-3{
  grid-area: c;
  align-self: start;
}

.d-4{
  grid-area: d;
  align-self: start;
}

@media (max-width: 800px) {
  .p-sections{
    grid-template-areas: "a" "b" "c" "d";
    grid-template-columns: 100%;
  }

  .panel.show{
    grid-template-areas: "a" "b" "c" "d";
    grid-template-columns: 100%;
  }
}

/* Gallery Section */

#gallery{
  padding-bottom: 5rem;
}

.gallery{
  -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
  -moz-column-gap: 10px; /* Firefox */
  column-gap: 10px;
}

.cards{
  padding-top: 10px;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.gallery-image:hover{
  opacity: 0.9;
}

@media (min-width: 300px) {
  .gallery{
     column-count: 2;
  }
}

@media (min-width: 800px) {
  .gallery{
     column-count: 3;
  }
}

@media (min-width: 1300px) {
  .gallery{
     column-count: 4;
  }
}

/* Contact Section */

.contact-icons{
  font-size: 3rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 7rem 0 4rem 0;
}

.email{
  width: 100%;
  text-align: center;
}

#email{
  font-size: 3rem;
  display: inline-block;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #00ffff;
  color: #000;
}

#e:hover{
  color: 	#00FFFF;
}

.contact-text{
  font-size: 1.5rem;
  padding: 4rem 0 0 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.social-media-icons{
  padding: 5rem 8rem 5rem 8rem;
  text-decoration: none;
  font-size: 3rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.sm-links{
  width: inherit;
  height: inherit;
}

.sm-text{
  font-family: 'Roboto Condensed', sans-serif;
  color: #888;
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-color: #00ffff;
}
@media (max-width: 1300px) {
  .social-media-icons{
     grid-template-columns: repeat(3, 1fr);
     padding: 5rem 2rem 0 2rem;
  }
}

@media (max-width: 1000px) {
  #email{
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .social-media-icons{
     grid-template-columns: repeat(2, 1fr);
     padding: 5rem 0 0 0;
  }
  #email{
    font-size: 1.8rem;
  }
@media (max-width: 325px) {
  #email{
    font-size: 1.4rem;
  }
}

/* Footer */

footer{
  font-size: 1rem;
  text-align: left;
  padding: 1rem 1rem;
  margin: auto;
}

/* Jeff Fung | Yebinabox */
